{% extends 'base.html' %}
{% block submenu_create_supplier %}active{% endblock %}
{% block menu_supplier %}active{% endblock %}
{% block content %}

<style>
    .required:after {
    content:" *";
    color: red;
  }
</style>
<div class="col-md-6">
    <br>
    <!-- <a href="#"><button type="button" id="empolyee" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Name</button></a> -->
    <br><br><br>
    <div class="content-panel">
        <h3 class="text-center"> بیان شامل کریں۔</h3>
        <div class="panel-body">
            <form class="form-horizontal add-ledger-form" action="{% url 'supplier:add_supplier_statement' pk=supplier.id %}" method="post" autocomplete="off">
                <div class="form-group">
                    <div class="col-sm-12">
                        {% csrf_token %}
                        <label class="pull-right"><strong>نام</strong></label>
                        <span class="name-error" style="color: red; display: none" >اس کو پر کرنا ضروری ہے</span>
                        <input type="text" class="form-control name text-right"  name="supplier_name" value="{{ supplier.name }}" placeholder="{{ supplier }}" readonly><br>
                        <label class="pull-right required"><strong>فراہم کنندہ کی رقم</strong></label>
                        <span class="father_name-error" style="color: red; display: none" >اس کو پر کرنا ضروری ہے</span>
                        <input type="text" class="form-control father_name text-right" name="supplier_amount" placeholder="کل رقم" required><br>
                        <label class="pull-right required"><strong>ادائیگی کی رقم</strong></label>
                        <span class="mobile-error" style="color: red; display: none" >اس کو پر کرنا ضروری ہے</span>
                        <input type="text" class="form-control mobile text-right" name="payment_amount" placeholder="قابل ادائیگی رقم" required><br>
                        <label class="pull-right"><strong>تفصیل نمبر</strong></label>
                        <input type="text" class="form-control mobile text-right" name="description" placeholder="تفصیل"><br>
                        <label class="pull-right"><strong>تاریخ</strong></label>
                        <input type="date" class="form-control mobile text-right" name="date" placeholder="تاریخ"><br>

                        <button type="submit" id="save" class="btn btn-primary ledger-submit-btn" style="float: right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">بیان کو محفوظ کریں۔</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}